BSC_WSS_URL=
BSC_RPC_URL=

RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
RABBITMQ_HOST=rabbitmq #rabbitmq when running in docker or localhost when running locally

RABBITMQ_URL=amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@${RABBITMQ_HOST}:5672/

REDIS_HOST=redis #redis when running in docker or localhost when running locally
REDIS_URL=redis://${REDIS_HOST}:6379

RABBITMQ_ERLANG_COOKIE=a-very-secret-and-long-erlang-cookie-string

MONGO_INITDB_ROOT_USERNAME=mongousername
MONGO_INITDB_ROOT_PASSWORD=mongopassword
MONGO_HOST=mongodb # running in docker
# MONGO_HOST=localhost # running locally
MONGODB_URI=mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@${MONGO_HOST}:27017/

BSC_ARCHIVE_RPC_URL=

POSTGRES_URL=