BSC_WSS_URL=
BSC_RPC_URL=

RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
RABBITMQ_HOST=rabbitmq #rabbitmq when running in docker or localhost when running locally

RABBITMQ_URL=amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@${RABBITMQ_HOST}:5672/

REDIS_HOST=redis #redis when running in docker or localhost when running locally
REDIS_URL=redis://${REDIS_HOST}:6379

RABBITMQ_ERLANG_COOKIE=a-very-secret-and-long-erlang-cookie-string